@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

*,::after,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { scroll-behavior: smooth; }

body { background-color: #000; }

a {
    text-decoration: none;
    color: inherit;
}

.flex,
.flex_btns { display: flex; }

.flex_btns_hidden { display: none; }

.main_cotainer {
    height: 100vh;
    background-image: url("./img/chalk.jpg");
    display: flex;
    overflow-y : hidden;
}

.main_cotainer:hover { overflow-y : scroll; }


.intro {
  width: 70%;
  background-color: rgba(0,0,0,0.5);
}

.intro .myname { 
    background-image: linear-gradient( -225deg, #b31275 0%, #f0a500 15%, #9055cf 29%, #c813ff 67%, #0059ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    font-weight: 700;
    font-size: 4rem;
    line-height: 8rem;
    padding-top: 14%;
    margin-left: 16%;
    border-bottom: 1px solid rgb(26, 24, 24);
    animation: textclip 2s cubic-bezier(.36,.42,.52,.96) infinite;
    
}
@keyframes textclip {
    100% {
        background-position: 200% center;
      }
}

.main_cotainer p {
    max-width: 600px;
    color: white;
    font-size:1.2rem;
    line-height:1.8rem;
    margin-left: 16%;
    margin-left: 1rem;
    color: #ffffff80;
    font-family: "Open Sans", sans-serif;
}

.animate_wrapper {
    background-color: #060506;
    padding-bottom: 6rem;
    font-family: 'Roboto Mono', monospace;
}

.moreme_wrapper {
    display: flex;
}

.moreme {
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif, mono;
    margin-left: 8%;
    margin-top: .7rem;
    margin-bottom: 2rem;

}

.moreme_wrapper .dynamic_text-ul {
    margin-left: 2%;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic_text-ul li {
    list-style: none;
    color: #ff4c29;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;

}

@keyframes slide {
    100% { top: -270px; }
}

.dynamic_text-ul li::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 3px solid #060506;
    background-color: #060506;
    left: 0;
    animation: typing 3s steps(19) infinite;
}

@keyframes typing {
    40%,60% { left : calc(100% + 60px); }
    100% { left: 0; }
}

.main_cotainer p.aboutme_p { 
    color: white;
    margin-left: 8%;
}

.nav_contact-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #ab9090;
}

nav {
    display: flex;
    color: #ab9090;
    text-align: center;
}
nav a { 
    width: 25%;
    font-size: 1.2rem;
    font-family: sans-serif, mono;
    height: 7vh;
    margin-top: 3rem;
}

nav a:focus,
nav a:hover { color: white; }

.main_contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    height: 100%;
}

.main_contact-wrapper a {
  height: 30%;
  margin-right: 2%;
}
.main_contact-wrapper a:first-of-type { margin-top: 20%; }

.main_contact-wrapper a:hover { opacity: .6; }

#scroll_indicator {
    position: absolute;
    top: 77vh;
    left: 0;
    color: rgb(231, 236, 231);
}

.scroll_indicator-path { animation: col_one 1s linear infinite; }
.show_sidemenu_path { animation: col_two 1s linear infinite; }

@keyframes col_one {
    0%,51% {fill:white}
    51%,72% {fill:black}
    75%,100% {fill:gray}
    }
@keyframes col_two {
    0%,51% {fill:gray}
    51%,100% {fill:#f0a500}
}

.svg {
    padding-top: 0;
    animation: MoveUpDown 1.5s linear infinite;
    width: 4rem;
    height: 10rem;
}
@keyframes MoveUpDown {  0%,50% { padding-top: 3rem; }  }

/*********Skills *********/
.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1.4s ease-in;
  }
  

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.main_cotainer-skills { 
    height: 100vh;
    background-color: #000000;
    padding-top: 3%;
    overflow-y : hidden;
}

.main_cotainer-skills:hover { overflow-y : scroll; }


.main_cotainer-skills h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #f0a500;
    margin: 0% 12% 3% 12%;
}

.skills_card-main--container {
    width: 85%;
}

#show_sidemenu:hover,
#show_sidemenu-project:hover,
#show_sidemenu-contact:hover { opacity: 0.6; }

.sidemenu {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show_sidemenu-btn--wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.show_sidemenu-btn--wrapper---active {
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 1s ease;

}

@keyframes dropdown {  0%,50% { height: 3rem; }  }

.sidemenu .show_sidemenu_btn,
#show_sidemenu,
#show_sidemenu-project,
#show_sidemenu-contact {
    background-color: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: .7;
}
.sidemenu .show_sidemenu_btn:hover {  opacity: 1; }
.sidemenu .show_sidemenu_btn:nth-of-type(2) { padding-left: 4rem; }
.sidemenu .show_sidemenu_btn:nth-of-type(3) { padding-left: 8rem; }
.sidemenu .show_sidemenu_btn:nth-of-type(4) { padding-left: 12rem; }


.sidemenu .show_sidemenu_btn p {
    margin-top: 40%;
    font-size: 1.2rem;
}


.skills_card-wrapper { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15% 10%;
    width: 80%;
    margin-left: 10%;
    height: 50%;
    color: #f0a500;
}

.skill_card {
    border: 2px solid #f0a500;
    border-radius: 50%;
    width: 100%;
    margin-left: 10%;
    height: 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill_card:hover { 
    border: 4px solid transparent;
    font-size: 1.3rem;
}

.skills_card-wrapper .skills_svg {
    width: 3rem;
    height: 5rem;
    animation : spin 1s linear infinite;
}


.skill_title { 
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.php_card,
.sql_card,
.secondary {
    grid-row-start: 3;
    
}
.secondary { 
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

/********* project *********/
.main_container-projects {
    height: 100vh;
    background: linear-gradient(#000,#212428);
    margin-top: 5%;
    overflow-y : hidden;
}

.main_container-projects:hover { overflow-y : scroll; }


.active.fade-right { animation: fade-right 1s ease-in;  }
@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.program_flex-container .sidemenu { width: 15%; }

.program_right { 
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 5%;
}

.program_main-wrapper { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5% 1.5%;
    
}

.program_title-wrapper h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: #ff004f;
    text-align: center;
    padding-top: 5%;

}
.program_card {
    margin-top: 5rem;
    height: 24rem;
    background: linear-gradient(#000,#191a1b);
    padding: 0 .5rem;
    box-shadow:  -10px -10px 19px #262a2e;
    transition: all .6s ease;

}

.program_card:hover {
    margin-top:4rem;
    box-shadow: 8px 8px 16px #cd4846;

}

.program_card h3 {
    text-align: center;
    font-size:1.4rem;
    font-weight:600;
    color: #ff004f;
}

.program_card h5 { 
    color: yellow;
    font-size: 1.2rem;
    text-align: center;
    font-family: cursive;
}
.program_card p{
    color: gray;
    font-size: 1.1rem;
    font-family: cursive;
    text-align: center;
}

.program_card img { 
    width: 100%; 
    height: 16rem;
}

.program_btns-section { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff004f;
    margin-top: 4%;
}
.projects_hidden { display: none; }

.program_btns-section input{ 
    margin-right: 1rem;
    accent-color: black;
}

/*-------Contacts ---------------------*/
.active.fade-left { animation: fade-left 1s ease-in; }

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


.main_container-contact {
    height: 100vh;
    background-color: #333538;
    background: linear-gradient(#000, #333538);
    margin-top: 2rem;
    overflow-y : hidden;
}

.main_container-contact:hover { overflow-y : scroll; }

.sidemenu_container {
    height: 95vh;
    width: 20%;
    display: flex;
    justify-content: center;
}

.form_container {
    height: 95vh;
    width: 80%;

}

.form_container h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin-top: 2%;
    opacity: .6;

}

.form_container form {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.form_container label {
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 1.1rem;
    margin-left: 15%;
    
}

.flex-contact {
    display: flex;
    justify-content: end;
}

.contacts_icons-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(255, 242, 211);
    margin-top: 10%;
}

.contacts_icons-container--col {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    color: rgb(206, 147, 0);
 }

 .contacts_icons-container a:hover,
 .contacts_icons-container--col a:hover,
 .contacts_icons-container p:hover,
 .contacts_icons-container--col p:hover { opacity: .5; }

.contacts_container input,
.contacts_container textarea {
    display: block;
    padding: 1rem;
    width: 70%;
    outline: none;
    color: #fdfafa;
    background-color: inherit;
    border: 1px solid aqua;
    border-radius: .3rem;
    font-weight: bold;
    margin-left: 15%;
}

.contacts_container textarea {
    font-family: cursive;
    font-size: 1.3rem;
}

.contacts_container input:hover,
.contacts_container textarea:hover,
.contacts_container input:focus,
.contacts_container textarea:focus {
    border-radius: .5rem;
}
#send {
    width: 40%;
    margin-left:30%;
    margin-top: 8%;
    transition: all 1s ease;
}

#send:hover {
    color: white;
    font-size: .9rem;
    padding: .7rem .5rem;
    margin-left:35%;
    width: 30%;
    background-color: rgb(19, 16, 16);
    border: none;

}

footer p {
    text-align: center;
    font-size: .8rem;
    color: lightgray;
}

.contact-avater-cont { 
    flex-direction: column;
    justify-content: center
}

/*---------------------------------*/

@media screen and (max-width: 540px) {
    .main_cotainer {  flex-direction: column; }
    .intro { 
        width: 100%;
        order: 2; 
    }
    .nav_contact-container {
        width: 100%;
        order: 1;
    }

    #aboutme_p { 
        width: 100%;
        padding-left: 2%;
        padding-right: 10%;
    }

    .program_card { height: 21rem; }

    nav {
        width: 100%;
        justify-content: space-evenly;
    }
    nav a { 
        font-size: 1rem;
        margin-top: 1rem;
        height: 3.5vh;
    }
    .main_contact-wrapper { display: none; }

    .animate_wrapper {
        background: rgba(0,0,0,0);
        background-position: center;
        background-size: cover;
        
    }
    .intro .myname {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0;
        margin-left: 0;
        border: none;
    }
    .moreme_wrapper { flex-direction: column; 
        background-color: black;
    }

    .moreme {
        font-size: 2rem;
        margin-left: 10%;
        margin-top: .7rem;
        margin-bottom: 0;
    }
    
    .moreme_wrapper .dynamic_text-ul {
        margin-left: 2%;
        line-height: 45px;
        height: 45px;
        margin-bottom: 10%;
    }
    .dynamic_text-ul li {
        font-size: 25px;
        text-align: center;
    
    }
    .dynamic_text-ul li::after { background-color: black; }


    .main_cotainer p {
        margin-left: 6%;
        margin-right: 3rem;
        padding-top: 12%;
        font-size: 1rem;
    }

    @keyframes slide { 100% { top: -135px; } }

    #scroll_indicator { top: 90vh; }

    .svg {
        width: 3rem;
        height: 3rem;
    }
    @keyframes MoveUpDown {  0%,50% { padding-top: 1rem; }  }

    /**************Skills-----------------------*/
    #skills, 
    #main_container-projects,
    #main_container-contacts,
    #second_contacts_container,
    .flex-contact  { flex-direction: column; }

    .sidemenu { 
        width: 100%;
        flex-direction: row;
     }
     .show_sidemenu-btn--wrapper---active {
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
      }

      .sidemenu .show_sidemenu_btn p {
        margin-top: 5%;
        font-size: 1rem;
      }
      .sidemenu .show_sidemenu_btn:nth-of-type(2),
      .sidemenu .show_sidemenu_btn:nth-of-type(3),
      .sidemenu .show_sidemenu_btn:nth-of-type(4)   { padding-left: 0; }


    .skills_card-main--container { width: 100%; }

    .main_cotainer-skills h2 { 
        margin-top: 30%;
        margin-bottom: 15%; 
        font-size: 1.5rem; 
        text-align: center;
    }
    .skills_card-wrapper { 
        grid-template-columns: repeat(3, 1fr);
        gap: 10%;
        width: 90%;
    }
    .skill_card {
        width: 4rem;
        height: 100%;
        font-size: 2rem;
        margin-left: 0;
        border: none;
    }
    .skill_card:hover { 
        border-bottom: 2px solid #f0a500;
    }
    .skills_card-wrapper .skills_svg {
        width: 2.2rem;
        height: 100%;
      }
    .skill_title { font-size: .8rem; padding-bottom: 10%;}
    .secondary {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.2rem;
    }

    .program_title-wrapper h1 { font-size: 1.2rem; }

    .main_container-projects { height: auto; }

    .program_main-wrapper { display : block; }

    .program_right { 
        width: 98%;
        margin-left: 1%;
    }
    .program_btns-section { display : none; }

    .program_card { margin-top: 3rem; }

    .program_card:last-of-type { margin-bottom: 15%; }

    .form_container { 
        width: 100%;
        height: auto;
    }

    .form_container h2 {
        text-align: center;
        font-size: 2rem;
        margin-top: 15%;
    }

    #contacts_icons-container a { 
        font-size: .8rem;
        margin-bottom: 15%;
    }

    .form_container form { width: 100%; }

    .contacts_container input, .contacts_container textarea { 
        padding: .8rem;
        margin-left: 3%;
        width: 94%;
    }

    #send,
    #send:hover  { 
        width: 50%;
        margin-left: 25%;
        margin-bottom: 10%;
    }

    .form_container label { margin-top: 15%; }

    .projects_hidden { display: none; }

    #project_disc { flex-direction: column; }

    .flex_btns { display: none; }





}